.aipos-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 5px;
}

.notice-dismiss{
    padding: 13px 10px;
}

.notice-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

